
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}

nav{
    background-color: rgba(245, 245, 220, 0.845);
}
.container h5{
    margin-top:75px ;
}

body{
    background-color: white;
    
}

.card-img-top{
    border-radius: 50px;
    padding: 10px;
    height: 200px;


}

.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    
}
.card-body{
    padding: 10px;
    margin-top: -15px;

}
.btn-warning{
    border-radius: 50px;
    width: 120px;
}
.btn-warning:hover{
    background-color:black;
}


@media(max-width:1080px){
    .card{
    margin-left: 15%;
 }
}
@media(max-width:720px){
    .card{
    margin-left: 14%;
 }
}
 @media(max-width:540px){
    .card{
    margin-left: 4%;
 }
 
}
@media(max-width:480px){
    .card{
    margin-left: 18%;
 }
 
}
@media(max-width:360px){
    .card{
    margin-left: 10%;
 }
 
}
@media(max-width:280px){
    .card{
    margin-left: 2%;
    
 }
 
}
